* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(225, 229, 227, 0), black 85%),
    url("./photo/1/530e016dcc4b4b2281684521a7a623b4.jpeg");
}
header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.burger img {
  width: 19px;
  height: 19px;
}
.navbar {
  display: flex;
  gap: 400px;
}
.navbar div {
  display: flex;
  gap: 10px;
}
.navbar div p {
  width: 29px;
  height: 15px;
  color: white;
}
.navbar h4 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(137, 137, 138);
  opacity: 0.5;
}
.logo img {
  width: 137px;
  height: 15px;
}
.search img {
  width: 20px;
  height: 20px;
}
.hoyr button {
  width: 140px;
  height: 30px;
  margin-left: 60px;
  border-radius: 30px;
  font-size: 15px;
  border: solid #fff 1px;
  color: white;
  backdrop-filter: blur(6px);
}
.social img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}
.cover img {
  width: 446px;
  height: 446px;
  border-radius: 20px;
  margin: 20px;
}
.text {
  width: 609px;
  height: 355px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 10px;
}
.text p {
  font-size: 15px;
  color: blue;
}
.text h2 {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900px;
}
.text h1 {
  color: #fff;
  font-size: 36px;
  line-height: 43px;
  font-weight: 900px;
}
.autor {
  display: flex;
  gap: 10px;
}
.autor img {
  width: 44px;
  height: 44px;
  padding: 2px;
  border: 1px solid #686666;
  border-radius: 50%;
}
.autor div h5 {
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}
.autor div p {
  color: #fff;
}
.edit {
  display: flex;
  justify-content: space-between;
  margin: 100px 300px 0 300px;
  padding: 30px;
  gap: 100px;
}
.edit h4 {
  color: #fff;
  font-size: 20px;
}
.edit img {
  background-color: rgba(225, 225, 225, 0.5);
  width: 48px;
  height: 25px;
  border-radius: 25px;
  padding: 3px;
}
.slide {
  position: absolute;
  top: 950px;
}
.slider-container {
  display: flex;
  padding-left: 300px;
  gap: 50px;
}
.box {
  width: 291px;
  height: 430px;
  background-size: cover;
  background-repeat: repeat;
  border-radius: 10px;
  padding: 12px 13px 12pc 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 270px;
  color: #fff;
}
.box1 {
  background-image: url("./photo/box/06c81a70abc3c6e36ebe81f34829ed10.jpeg");
}
.box2 {
  background-image: url("./photo/box/6dc13475528502b25e38397feb99c727.png");
}
.box3 {
  background-image: url("./photo/box/9a316b70d85cf3d44242613d6a15c809.jpeg");
}
.box4 {
  background-image: url("./photo/box/03967d2f0f1b319e42ac4c8c2de6b0b3.png");
}
.box5 {
  background-image: url("./photo/box/f214ecbbae9edfd49dbab990e70348c6.png");
}

.box > div {
  display: flex;
  justify-content: space-between;
}
.ww {
  display: flex;
  gap: 5px;
}
.box > div > img {
  width: 15px;
  height: 15px;
}
.box > div > p {
  font-size: 15px;
}
.ww img {
  width: 18px;
  height: 15px;
}
.box > nav h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0 15px 0;
}
.box > nav > span {
  border: #0078f6 solid 1px;
  border-radius: 5px;
  background-color: #0078f6;
}
.box5 nav {
  margin-top: 20px;
}
.thisweek {
  width: 1300px;
  margin: 300px 400px 20px 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 35px 0 35px;
}
.author {
  display: flex;
  gap: 7px;
}
.author img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.author h5 {
  font-size: 13px;
  font-weight: 500;
}
.author p {
  color: #888888;
  font-size: 13px;
}
.week-container {
  width: 739px;
  height: 183px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 25px;
  padding: 27px 50px 20px 65px;
  margin-top: 13px;
  gap: 100px;
}
.title > div {
  display: flex;
}
.title > div > img {
  width: 15px;
  height: 15px;
}
.title > div > p {
  color: #0078f6;
  font-size: 13px;
}
.title h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700px;
}
.week-container > img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.day {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border-bottom: rgb(37, 36, 36) solid 1px;
  padding-bottom: 10px;
  margin-top: 60px;
}
.day span {
  color: #0078f6;
}
.data {
  background-position: center;
  background-size: cover;
}
.neg {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url("./photo/containt/21262f087bd7bd6ea50ecbdc77b2de09.jpeg");
}
.hoyor {
  background-image: url("./photo/containt/87c6713d7876ac1899e20c13ac8b1974.jpeg");
}
.guraw {
  background-image: url("./photo/containt/12e9783329d71a9f343d203c052e4d98.jpeg");
}
.dorow {
  background-image: url("./photo/containt/75288f9a6f654884726db5e0458cbdef.jpeg");
}
.taw {
  background-image: url("./photo/containt/9dc16b608bc499d627cb6675b231a0ff.png");
}
.zurgaa {
  grid-row: 2 / span 2;
  background-image: url("./photo/containt/ceeea287bfedd20b61f06a236854b5ac.jpeg");
}
.doloo {
  grid-row: 2 / span 2;
  background-image: url("./photo/containt/bae4a1bc2f0c3265addd5badd790488e.png");
}
.naim {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url("./photo/containt/530e016dcc4b4b2281684521a7a623b4.jpeg");
}
.yos {
  background-image: url("./photo/containt/4b500d1101336e8a3f6be8fb4521c6c7.jpeg");
}
.araw {
  background-image: url("./photo/containt/e66ae558c0eb8f8f2f7867bf6f901f5f.jpeg");
}
.araw1 {
  background-image: url("./photo/containt/13e324d3e36170ce40d906488aa24e02.jpeg");
}
.araw2 {
  background-image: url("./photo/containt/ad5baf21a8008661da97fc693c6c63b5.jpeg");
}
.araw3 {
  grid-row: 2 / span 2;
  background-image: url("./photo/containt/15a4d73f3036b08a1028138defbaf63e.jpeg");
}
.araw4 {
  grid-row: 2 / span 2;
  background-image: url("./photo/containt/7ba08d03a39abeabd3902962307095d8.jpeg");
}
.araw5 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url(./photo/containt/1c8032975647515c919c1e4b30138726.jpeg);
}
.araw6 {
  background-image: url(./photo/containt/a4da91f7dc3eb5a815cfdf5f8b705e99.jpeg);
}
.araw7 {
  background-image: url(./photo/containt/454271730c76c2f173dbddc1d427921c.jpeg);
}
.araw8 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url(./photo/containt/fe91eec4ed43baecc4874fb634eea919.jpeg);
}
.araw9 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url(./photo/containt/0f9eacff441cfc4602498a98f5946f9f.jpeg);
}
.araw0 {
  grid-row: 2 / span 2;
  background-image: url(./photo/containt/2f5bf8fb8f5afc9b5500ef1ce74722d5.jpeg);
}

.week-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 50px 200px;
  gap: 20px;
  margin-top: 50px;
}

.prev-week-container {
  width: 1000px;
  margin-top: 50px;
  margin: auto;
}
.data {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.data p {
  border: #fff solid 1px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 3px;
  z-index: 1;
  position: absolute;
  backdrop-filter: blur(20px);
  top: 55%;
  left: 80%;
}
.data > nav {
  width: 100%;
  height: 40%;
  backdrop-filter: blur(10px);
  padding: 10px;
}
.data > nav > span {
  color: #888888;
  font-size: 12px;
}
.data > nav > h4 {
  color: #fff;
  font-size: 14px;
}

footer {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-around;
  padding: 100px 0 100px 0;
  background-color: black;
}
.top {
  width: 466px;
  height: 400px;
}
.top img {
  width: 138px;
  height: 18px;
}
.top > .contact {
  width: 323px;
  height: 90px;
  padding: 15px;
  display: flex;
  gap: 20px;
  border: solid grey 1px;
  border-radius: 25px;
  background-color: black;
}
.top > .contact > nav {
  padding: 5px;
}
.top > .contact > nav > p {
  color: gray;
  font-size: 10px;
}
.top > .contact > nav > h4 {
  color: #fff;
  font-size: 15px;
}
.sum {
  width: 54px;
  height: 54px;
  border: solid black 1px;
  border-radius: 50%;
}
.about {
  width: 650px;
  height: 400px;
}
.group > .text {
  display: flex;
  color: #888888;
}
.title.h5 {
  color: #fff;
}
